# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cso

# Debug shit
*.pdb
*.idb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated model files
*.erc
*.myr

# Temp
Temp/
Content/Bajsbyggen/